{% extends "recipe/components/recipe-list-base-component.html.twig" %}

{% block user_recipes_list_actions %}
    <a
            class="btn btn-info text-white"
            data-toggle="tooltip"
            title="Modifier"
            src="{{ path('update_recipe', [recipe.id]) }}"
    >
        <i class="fas fa-pencil-alt"></i>
    </a>
    <button
            class="btn btn-danger"
            type="button"
            data-toggle="tooltip"
            title="Supprimer"
            onclick="deleteRecipe({{ recipe.id }})"
    >
        <i class="fas fa-trash-alt"></i>
    </button>

{% endblock %}