{% extends "layout/base.html.twig" %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/login/password-recovery-form.css">
{%  endblock %}

{% block content %}
    <div id="recovery-container" class="container">
        <h2>Réinitialisation de mot de passe</h2>
        {% if validationTokenExists %}
            {% if not passwordReset %}
            <p>Le mot de passe doit contenir au moins 8 caractères dont 1 chiffre, 1 majuscule et 1 caractère spécial.</p>
            {% endif %}

            <div class="row center">
                {% if passwordReset %}
                    <div class="alert alert-success" role="alert">
                        Votre mot de passe a été changé.<br/>Vous pouvez a présent utiliser votre nouveau mot de passe pour <a href="{{ path('login')}}">vous connecter</a>.
                    </div>
                {% else %}
                    <div class="col-sm-4">
                        <p>Veuillez saisir votre nouveau mot de passe :</p>
                        <form method="POST" action="/user/password-recovery/{{ validationString }}">
                            <div class="form-group">
                                <input type="password" class="form-control" id="inputPassword" name="inputPassword" aria-describedby="passwordHelp"
                                       placeholder="Nouveau mot de passe">
                                <small id="passwordError" class="form-text text-danger hide">
                                    Le mot de passe doit contenir au moins 8 caractères dont une majuscule, un chiffre et un caractère spécial
                                </small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="inputPasswordConfirmation" name="inputPasswordConfirmation" aria-describedby="passwordConfirmationHelp"
                                       placeholder="Confirmation">
                                <small id="passwordConfirmError" class="form-text text-danger hide">
                                    Les mots de passe saisis doivent être identiques
                                </small>
                            </div>

                            <button id="submit" type="submit" class="btn btn-primary" name="passwordChange">Valider</button>
                        </form>
                    </div>
                {% endif %}

            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Le token saisi est invalide. Assurez-vous d'avoir bien entré le lien de réinitialisation que vous avez reçu par e-mail.</a>.
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="/public/js/login/password-change-form.js"></script>
{% endblock %}