{% extends "layout/base.html.twig" %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/login/password-recovery-form.css">
{%  endblock %}

{% block content %}
    <div id="recovery-container" class="container">
        <h2>Récupération de mot de passe</h2>
        {% if not recoveryMailSent %}
            <p>Entrez l'adresse mail utilisée lors de votre inscription.<br/>Vous allez recevoir par mail un lien pour renouveler votre mot de passe.</p>
        {% endif %}

        <div class="row center">
            {% if recoveryMailSent %}
                <div class="alert alert-success" role="alert">
                    Vous allez recevoir un email avec un lien de régénération de votre mot de passe.
                </div>
            {% else %}
                <div class="col-sm-4">
                    <form method="POST" action="/recovery">
                        <div class="form-group">
                            <input type="email" class="form-control" id="inputEmail" name="inputEmail" aria-describedby="emailHelp"
                                   placeholder="Email">
                        </div>

                        <button id="submit" type="submit" class="btn btn-primary" name="recovery">Valider</button>
                    </form>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/public/js/login/login-form.js"></script>
{% endblock %}