html, body {
    height: 100%;
    padding-top: 28px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

#content {
    height: 100%;
    width: 80%;
    margin: auto;
}

button:hover:disabled {
    cursor: no-drop;
}
