
html, body {
    height: 100%;
    margin: 0;
    padding-top: 28px;
    font-family: 'Comic Neue', cursive !important;
}

body a {
    text-decoration: none;
    color: #6D997D;
}

body a:hover {
    text-decoration: none;
    color: #91CCA7;
    transition: all 0.3s;
}

#content {
    min-height: 100%;
    width: 80%;
    margin: auto;
}


hr {
    background: #91CCA7;
}

button:hover:disabled {
    cursor: no-drop;
}

.center-vertically {
    position: relative;
    top: 50%;
}


button#submit {
    background: #CCAD7C;
    border: #CCAD7C;
}

footer {
    margin-top: 150px;
    background: #91CCA7;
    padding-top: 50px;
}