{% extends "layout/base.html.twig" %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/user/user-recipes.css">
{% endblock %}

{% block content %}
    <h2>
		<i class="fas fa-utensils"></i>
		Ma Cuisine
		<i class="fas fa-utensils"></i>
	</h2>

    <a class="btn btn-flat-primary " id="addRecipe" href="{{ path('add_recipe') }}"> <i class="fas fa-plus-square"></i>
        Partager une nouvelle recette
	</a>

    <ul class="nav nav-tabs text-dark">
        <li role="presentation" class="nav-item">
            <button id="user-recipe-button" class="nav-link text-dark btn">Mes recettes</button>
        </li>
        <li role="presentation" class="nav-item">
            <button id="user-liked-recipe-button" class="nav-link text-dark btn" >Mes favoris</button>
        </li>
    </ul>

    <div id="recipe-list">

    </div>
    <div class="row justify-content-lg-center">
        <button id="pagination-left-chevron" class="btn btn-flat"><i class="fas fa-chevron-left"></i></button>
        <div id="page-numbers"></div>
        <button id="pagination-right-chevron" class="btn btn-flat"><i class="fas fa-chevron-right"></i></button>
    </div>

{% endblock %}

{% block scripts %}
    <script src="/public/js/user/user-recipe-list.js"></script>
    <script src="/public/js/recipe/recipe-like-system.js"></script>
{% endblock %}
