{% extends "user/user.html.twig" %}

{% block recipeList %}

	<div class="d-block">
		<a  class="btn btn-primary " id="addRecipe" href="/user/addrecipe"> Ajouter une recette</a>

		<ul class="list-group">
		{% for recipe in recipes %}

			<li class="list-group-item text-justify">
				<a class="text-dark list-group-item" href="">
							{{ recipe.name }}
				</a>
				<button type="button" class="btn btn-warning">Editer</button>
				<button type="button" class="btn btn-danger ">Supprimer</button>
			</li>

		{% endfor %}
		</ul>

	</div>
	{% for recipe in recipes %}
		<div class="d-block">
			<img>
			<a class="text-dark" href="">
				{{ recipe }}
			</a>
		</div>
	{% endfor %}
{% endblock %}
