{% extends "user/user.html.twig" %}

{% block recipeList %}

	<div class="d-block">
		{% if recipeList %}
		<a  class="btn btn-primary " id="addRecipe" href="/recipe/add"> Ajouter une recette</a>
		{% endif %}

		{%if recipes %}
		<ul class="list-group">

			{% for recipe in recipes %}
				<li class="list-group-item text-justify">
					<a class="text-dark list-group-item" href="">
								{{ recipe.name }}
					</a>
					<button type="button" class="btn btn-warning">Editer</button>
					<button type="button" class="btn btn-danger ">Supprimer</button>
				</li>

			{% endfor %}
		</ul>
		{% endif %}

	</div>
{% endblock %}
