{% extends "user/user.html.twig" %}

{% block recipeList %}

	<div class="d-block">

		{%if recipes %}
		<ul class="list-group">
			{% for recipe in recipes %}
				<li class="list-group-item text-justify" id={{recipe.id}}>
					<a href="{{ path('recipe_view', [recipe.id]) }}" class="row">
						<div class="col-lg-2">
							{% if recipe.image %}
								<img class="width100" src="{{ recipe.image }}" alt="image of the recipe">
							{% else %}
								<img class="width100" src="/public/assets/recipes-image/knives.jpg" alt="image of the recipe">
							{% endif %}
						</div>
						<div class="col-lg-10">
							<div class="text-dark list-group-item">
								{{ recipe.name }}
							</div>
						</div>
					</a>
				</li>

			{% endfor %}
		</ul>
		{% endif %}

	</div>
{% endblock %}
