<form action="/user/add" method="POST">

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="inputLastName">*Nom</label>
            <input type="text" class="form-control" id="inputLastName" name="lastName">
            <small id="lastNameError" class="form-text text-danger hide">Le nom doit contenir uniquement des lettres</small>
        </div>
        <div class="form-group col-sm-6">
            <label for="inputFirstName">*Prenom</label>
            <input type="text" class="form-control" id="inputFirstName" name="firstName">
            <small id="firstNameError" class="form-text text-danger hide">Le prenom doit contenir uniquement des lettres</small>
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail">*Email</label>
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="example@example.com">
        <small id="emailError" class="form-text text-danger hide">Le mail est incorrect</small>
        <small id="emailExistError" class="form-text text-danger hide">Un compte est deja associé a cette adresse mail</small>
    </div>

    <div class="form-group">
        <label for="inputAlias">*Pseudo</label>
        <input type="text" class="form-control" id="inputAlias" name="alias">
        <small id="aliasError" class="form-text text-danger hide">
            Désolé, ce pseudo est deja pris
        </small>
    </div>

    <div class="form-group">
        <label for="inputPassword">*Mot de passe</label>
        <input type="password" class="form-control" id="inputPassword" name="password">
        <small id="passwordError" class="form-text text-danger hide">
            Le mot de passe doit contenir au moins 8 caractères dont une majuscule, un chiffre et un caractère spécial
        </small>
    </div>
    <button id="submit" type="submit" class="btn btn-primary" disabled>Valider</button>
</form>

