{% extends "user/components/recipe-list-component.html.twig" %}

{% block user_recipes_list_actions %}
<button class="btn btn-info" type="button" data-toggle="tooltip" title="Modifier">
	<i class="fas fa-pencil-alt"></i>
</button>
<button class="btn btn-danger" type="button" data-toggle="tooltip" title="Supprimer">
	<i class="fas fa-trash-alt"></i>
</button>
{% endblock %}



