{% extends "user/components/recipe-list-component.html.twig" %}


{% block user_recipes_list_actions %}
	<button class="like-btn btn btn-info" type="button" onclick="handleLikeButtonClick({{ recipe.id }}, true)">
		<i class="fas fa-heart fa-2x"></i>
	</button>
{% endblock %}


{% block scripts %}
    <script src="/public/js/recipe/recipe-like-system.js"></script>
{% endblock %}