{% extends "layout/base.html.twig" %}

{% block content %}
    <div class="alert alert-success" role="alert">
        L'adresse mail a bien été confirmée, vous pouvez a présent <a href="{{ path('login')}}">vous connecter.</a>
    </div>
{% endblock %}