#menu {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 600;
    background: #91CCA7 !important;
    color: white !important;
}

a.btn.btn-outline-primary.menu-button {
    color: #364D3E;
    border: none;
}

a.btn.btn-outline-primary.menu-button:hover {
    border: 2px solid #364D3E;
    background: none;
}




