.light-blur {
    filter: blur(2px);
}

strong-blur {
    filter: blur(5px);
}

.hide {
    display: none;
}

.width100 {
    width: 100%;
}
.width80 {
    width: 80%;
}

.icon::before {
    color: #CCAD7C;
}

.center {
    display: flex;
    justify-content: center;
}

.like-btn {
    width: 100%;
    height: 100%;
    background-color: #91CCA7;
    border: 1px solid #88bf9c;
}

.like-btn i {
    margin-top: 3px;
}

.like-btn:hover, .like-btn:focus, .like-btn:active, .like-btn.active {
    background-color: #a0dcb7 !important;
    border: 1px solid #88bf9c !important;
    box-shadow: none !important;
}

.recipe-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#loading-spinner {
    visibility: hidden;
}
