.recipe-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3 {
    margin-bottom: 0px;
}

.separator {
    margin: 5px 0px 15px 0px;
}

#pagination div {
    text-align: center;
}

#image {
    width: 100%;
    height: 150px;
    overflow: hidden;
}
