a {
    color: black;
}

#search-section {
    min-height: 200px;
    display: table;
}

.search-content {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}

.center-search {
    width: 60%;
    margin: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.spacer {
    height: 100px;
}

.separator {
    width: 80%;
    color: #91CCA7;
}

#recipe-section {
    display: flex;
    justify-content: center;

}

h2 {
    margin-bottom: 35px;
}

.recipe-block {
    margin: 0 20px 25px;
    padding: 0;
    width: 270px;
    border-radius: 15px;
    box-shadow: 1px 1px 15px;
}

.recipe-block:hover {
    cursor: pointer;
}

.recipe-image {
    overflow: hidden;
    height: 350px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.recipe-image img {
    height: 350px;
    margin-left: -25%;
}

.blur {
    filter: blur(2px);
}

.recipe-description {
    height: 100px;
    font-size: 1.2em;
    text-align: center;
}

#image {
    width: 100%;
    height: 150px;
    overflow: hidden;
}
