<div class="form-group">
    <h2>Ingrédients</h2>
    <ul id="ingredients" class="container">
        <li class="ingredient-row-element">
            <div class="row">
                <div class="col">
                    <label for="ingredient">Ingredient</label>
                    <input id="ingredient" list="ingredient-list" class="form-control" name="ingredients[]">
                    <datalist id="ingredient-list">
                        {% for ingredient in ingredients %}
                            <option value="{{ ingredient.name }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="col">
                    <label for="quantity">Quantité</label>
                    <input class="form-control" id="quantity" type="number" name="quantity[]">
                </div>
                <div class="col">
                    <label for="unit">Unité</label>
                    <select class="form-control" name="unit[]" id="unit">
                        {% for unit in units %}
                            <option value="{{ unit.id }}">{{ unit.name }}</option>
                        {%  endfor %}
                    </select>
                </div>
                <div class="col-1">
                    <button type="button"
                            class=" btn btn-danger delete-ingredient-button"
                            data-toggle="tooltip"
                            title="Supprimer ingrédient"
                    >

                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <div class="row justify-content-center">
        <button id="add-ingredient-button"
                type="button"
                class="btn btn-info"
                data-toggle="tooltip"
                title="Ajouter ingrédient"
        >
            Ajouter Ingrédient
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>