{% extends "recipe/recipe-create.html.twig" %}

{% block steps %}

	<div class="form-group">
		<h2>Etapes à suivre </h2>
		<ol id="steps">
			<li>
				<textarea  class="form-control" placeholder="Description de l'étape"></textarea>
			</li>


		</ol>
	

	</div>

			<input type="button" class="btn" onclick="addStep()" value="Ajouter étape">


{% endblock %}
