{% extends "layout/base.html.twig" %}
{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/recipe/recipe-form.css">
{% endblock %}

{% block content %}
	<div id="recipe-form">
	<h2>Ajouter une nouvelle Recette</h2>
		{% if recipeCreated %}
			<div class="alert alert-success" role="alert">
                        La recette a bien été créé.
			</div>
		{% endif %}
		<form action="/recipe/add" method="POST">
			<div class="row">
				<div class="form-group col-sm-8">
					<label for="inputName"> Nom de la recette </label>
					<input type="text" class="form-control" id="inputName" name="inputName" placeholder="Nom">
					<small id="nameError" class="form-text text-danger hide">Le nom doit contenir uniquement des lettres</small>
				</div>
				<div class="form-group col-sm-8">
					<img src="/public/assets/recipes-image/knives.jpg" alt="image du plat"  id="image">
					<input type="file" class="form-control" id="inputImage" name="inputImage" accept="image/png, image/jpeg">
				</div>
				<div class="form-group col-sm-8">
				<label for="inputType"> Type de la recette </label>
				<select type="number" class="form-control" id="inputType" name="inputType" placeholter="Type">
				<!-- TODO : faire une requête sur la BDD pour afficher dynamiquement les types existants-->
					<option value="1">Entrée</option>
					<option value="2">Plat</option>
					<option value="3">Dessert</option>
					<option value="4">Boisson</option>
				</select>
			</div>
			</div>

			<div class="form-group">
				<label for="inputCookingTime"> Temps de cuisson en minute</label>
				<input type="number" class="form-control" id="inputCookingTime" name="inputCookingTime" step="5" min="5" value="5">
			</div>

			<div class="form-group">
				<label for="inputPreparationTime"> Temps de préparation en minute</label>
				<input type="number" class="form-control" id="inputPreparationTime" name="inputPreparationTime" step="5" min="5" value ="5">
			</div>

			<div class="form-group">
				<label for="inputPersonNumber"> Nombre de personne </label>
				<select type="number" class="form-control" id="inputPersonNumber" name="inputPersonNumber">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
			</div>

			<div class="form-group">
				<label for="inputDifficulty"> Difficulté </label>
				<select type="number" class="form-control" id="inputDifficulty" name="inputDifficulty">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</div>

			<div class="form-group">
				<label for="inputMeanPrice"> Prix moyen  </label>
				<select type="text" class="form-control" id="inputMeanPrice" name="inputMeanPrice">
					<option value="1 - 10 €">1 - 10 €</option>
					<option value="10 - 20 €">10 - 20 €</option>
					<option value="20 - 50 €">20 - 50 €</option>
					<option value="50 - 100 €">5 - 100 €</option>
				</select>
			</div>

			<div class="form-group">
				<label for="inputAuthorQuote"> Annotations   </label>
				<textarea  class="form-control" id="inputAuthorQuote" name="inputAuthorQuote"></textarea>
			</div>

			{% block steps %}{% endblock %}	

			<button type="submit" class="btn btn-primary" name="addRecipe">Valider</button>
		</form>
		</div>
{% endblock %}

{% block scripts %}
    <script src="/public/js/recipe/recipe-create-form.js"></script>
{% endblock %}