{% extends "recipe/recipe-create.html.twig" %}

{% block scripts %}
	<script src="/public/js/recipe/recipe-steps.js"></script>
    <script src="/public/js/recipe/recipe-create-form.js"></script>
{% endblock %}

{% block steps %}

    <div class="form-group">
        <h2>Etapes à suivre </h2>
        <ol id="steps">
            <li id="1" class ="desc">
                <textarea class="form-control" placeholder="Description de l'étape" name="stepList[]"></textarea>
                <button type="button" class=" btn btn-warning" onclick="deleteStep(this.closest('li').id)">Supprimer étape</button>
            </li>
        </ol>
       	<button type="button" class="btn btn-light" onclick="addStep()">Ajouter une étape</button>
    </div>
	<button type="button" class="btn btn-light" onclick="addStep()">Ajouter une étape</button>


{% endblock %}

