<div class="form-group">
    <h2>Etapes à suivre </h2>
    <ol id="steps" class="container">
        <li class="step-row-element">
            <div class="row">
                <div class="col">
                        <textarea
                                class="form-control"
                                placeholder="Description de l'étape"
                                name="stepList[]"
                        ></textarea>
                </div>
                <div class="col-1">
                    <button type="button"
                            class=" btn btn-danger delete-step-button"
                            data-toggle="tooltip"
                            title="Supprimer étape"
                    >
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </li>
    </ol>
    <div class="row justify-content-center">
        <button id="add-step-button"
                type="button"
                class="btn btn-info"
                data-toggle="tooltip"
                title="Ajouter étape"
        >
            <i class="fas fa-plus"></i>
            Ajouter Etape
        </button>
    </div>
</div>

