{% extends "recipe/recipe-create.html.twig" %}

{% block steps %}

	<div class="form-group">
		<h2>Etapes à suivre </h2>

		<ol>
			<li>
				<textarea  class="form-control" placeholder="Description de l'étape"></textarea>
			</li>
			
		</ol>
	</div>

{% endblock %}
