#content {
    width: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidenav {
    z-index: 500;
    min-width: 230px;
    max-width: 230px;
    min-height: 100vh;
    color: #000;
    background: #f8f9fa;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidenav {
        margin-left: -230px;
    }
    #sidenav.active {
        margin-left: 0;
    }
}

#sidenav.active {
    margin-left: -230px;
}

#admin-content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}

.sidebar-header {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    background: #91CCA7;
    border-top: 1px solid #348050;
    border-bottom: 1px solid #348050;
    color: #fff;
}

#sidenav a:hover {
    background-position: left bottom;
    color: #fff;
}

#sidenav a.active {
    border-right: 5px solid #805C5B;
    background: #91CCA7;
    color: #fff;
    transition: none;
}

#sidenav a {
    display: block;
    padding: 10px 0;
    padding-left: 25px;
    text-decoration: none;
    color: #000;
    background: linear-gradient(to right, #91CCA7 50%, #f8f9fa 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
}

