<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block links %}
        {{ include('layout/links/links.html.twig') }}
    {% endblock %}

    <title>Popotier - {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        {% block header %}
            {{ include('layout/header.html.twig') }}
        {% endblock %}
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        {% block footer %}
            {{ include('layout/footer.html.twig') }}
        {% endblock %}
    </footer>
</body>
</html>