<div id="myfooter" class="container">

  <div class="row ">
    <div class="col-md-6 mt-md-0 mt-3">
      <h5 class="text-uppercase">Qui sommes-nous ?</h5>
      <p>Nous sommes 3 apprentis ingénieur multimédia du CNAM PACA basé dans la ville de Toulon. Ce site est développé dans le cadre de l'UE Programmation Web. Cette année nous 
      vous présentons un site de recette. Nous vous souhaitons une bonne navigation ! :) </p>
    </div>
    
    <div class="col-md-6 mb-md-0 mb-3">
      <h5 class="text-uppercase">Type</h5>
      <ul>
        
        <li>
          <a href="/recipe/search/{{Entrée | raw}}">Entrée</a>
        </li>
        <li>
          <a href="/recipe/search/Plat">Plat</a>
        </li>
        <li>
          <a href="/recipe/search/Dessert">Dessert</a>
        </li>
        <li>
          <a href="/recipe/search/Boisson">Boisson</a>
        </li>
      </ul>
    </div>
    
    
  </div>
  <div class="footer-copyright text-center py-3">
    Copyright Popotier © 2020
  </div>

</div>