{% extends "layout/base.html.twig" %}

{% block title %}{{ page }}{% endblock %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/home/home-page.css">
{% endblock %}

{% block content %}
    <div id="search-section" class="container-fluid">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-6 vertical-center">
                <input class="form-control" type="text" placeholder="Une envie particulière?">
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
    <hr class="separator">

    <div id="recipe-section" class="container">
        <div class="row">
            {% if recipes %}
                {% for recipe in recipes %}
                    <div class="row-sm-4">
                        <div class="recipe-block card">
                            <div class="recipe-image">
                                {% if recipe.image %}

                                    <img src="{{ recipe.image }}" alt="image du plat">

                                {% else %}

                                    <img src="/public/assets/recipes-image/knives.jpg" alt="image du plat">

                                {% endif %}
                            </div>
                            <div>
                                <p>{{ recipe.name }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucune recette pour le moment :(</p>
            {% endif %}

        </div>

    </div>
{% endblock %}

